<mat-toolbar>
    <span>{{ 'Lista operatori'|translate }}</span>
    <span class="spacer"></span>
    <button mat-stroked-button color="accent" (click)="openDialog()">
        <mat-icon>add</mat-icon>
        {{ 'Aggiungi un operatore'|translate }}
    </button>
    <button mat-stroked-button color="accent" [routerLink]="'/pis/squadre'">
        <mat-icon>list</mat-icon>
        {{ 'Lista squadre'|translate }}
    </button>
</mat-toolbar>
<div class="main-content">
    <table-component [defaultSort]="defaultSort" [dataSource]="dataSource" [columns]="columns" [expandsTemplate]="expandsTemplate" [actionsTemplate]="actionsTemplate"></table-component>
</div>

<ng-template let-row="row" #expandsTemplate>
    <div class="display-flex">
        <mat-list class="flex-1">
            <mat-list-item>
                <div mat-line>{{ row.nome }} {{ row.cognome }}</div>
                <div mat-line><span>{{ 'Matricola'|translate }}: {{ row.matricola }}</span></div>
            </mat-list-item>
        </mat-list>
        <mat-divider class="break"></mat-divider>
        <mat-list class="flex-1">
            <div mat-subheader>{{ 'Squadra di appartenenza'|translate }}</div>
            <ng-container *ngIf="row.squadra; else empty">
                <mat-list-item>
                    <div mat-line>{{ row.squadra.nome }} <span *ngIf="row.protezione_civile">{{ 'Protezione civile'|translate }}</span></div>
                </mat-list-item>
            </ng-container>
            <ng-template #empty>
                <mat-list-item>
                    <div mat-line><span>{{ 'L\'operatore non fa parte di nessuna squadra'|translate }}</span></div>
                </mat-list-item>
            </ng-template>
        </mat-list>
    </div>
</ng-template>

<ng-template let-row="row" #actionsTemplate>
    <button mat-stroked-button color="accent" (click)="openDialog(row)">
        <mat-icon>edit</mat-icon>
        {{ 'Modifica'|translate }}
    </button>
    <button mat-stroked-button color="warn" (click)="delete(row)">
        <mat-icon>delete_forever</mat-icon>
        {{ 'Elimina'|translate }}
    </button>
</ng-template>


