<ng-scrollbar style="height: 90%;" *ngIf="scrollable; else noScroll">
    <form [formGroup]="form" style="margin:24px;">
        <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
    </form>
</ng-scrollbar>

<ng-template #noScroll>
    <form  style="height: 90%;" [formGroup]="form" style="margin:24px;">
        <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
    </form>
</ng-template>

<div style="height: 10%; margin-left: 10px;">
    <button type="button" mat-button (click)="resetModel()">{{'Reset'|translate}}</button>
    <ng-container *ngTemplateOutlet="actionsTemplate;"></ng-container>
</div>