<ngx-ui-loader></ngx-ui-loader>
<mat-toolbar color="primary" style="height: 120px">
  <ngx-avatar src="assets/logo.png" size="100" [round]="false"></ngx-avatar>

  <span class="spacer"></span>

  <div fxShow="true" fxHide.lt-md="true">
    <ng-container *ngFor="let m of menu">
      <ng-container *ngIf="m.subMenu; else single">
        <button
          mat-button
          [matMenuTriggerFor]="menu"
          *ngIf="m.show"
          (click)="m.click()"
        >
          {{ m.label }}
          <ngx-avatar
            *ngIf="m.avatar"
            name="{{ utente?.firstName }} {{ utente?.lastName }}"
          ></ngx-avatar>
        </button>
        <mat-menu #menu="matMenu" yPosition="above">
          <ng-container *ngFor="let s of m.subMenu">
            <ng-container *ngIf="s.subMenu; else noTree">
              <button
                mat-menu-item
                [matMenuTriggerFor]="tree"
                *ngIf="s.show"
                (click)="s.click()"
              >
                {{ s.label }}
              </button>
            </ng-container>
            <ng-template #noTree>
              <button
                mat-menu-item
                [routerLink]="s.routerLink"
                *ngIf="s.show"
                (click)="s.click()"
              >
                {{ s.label }}
              </button>
            </ng-template>

            <mat-menu #tree="matMenu">
              <ng-container *ngFor="let t of s.subMenu">
                <button
                  mat-menu-item
                  [routerLink]="t.routerLink"
                  *ngIf="t.show"
                  (click)="t.click()"
                >
                  {{ t.label }}
                </button>
              </ng-container>
            </mat-menu>
          </ng-container>
        </mat-menu>
      </ng-container>
      <ng-template #single>
        <button
          mat-button
          [routerLink]="m.routerLink"
          *ngIf="m.show"
          (click)="m.click()"
        >
          {{ m.label }}
        </button>
      </ng-template>
    </ng-container>
  </div>

  <button
    (click)="sidenav.toggle()"
    mat-icon-button
    fxShow="true"
    fxHide.gt-sm="true"
  >
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container fxFlexFill class="container">
  <mat-sidenav #sidenav fxLayout="column">
    <mat-list>
      <ng-container *ngFor="let m of menu">
        <ng-container *ngIf="m.subMenu; else single">
          <div mat-subheader *ngIf="m.show">
            {{ m.label }}
          </div>
          <mat-divider
            *ngIf="m.avatar"
            style="margin-bottom: 20px"
          ></mat-divider>
          <ng-container *ngFor="let s of m.subMenu">
            <ng-container *ngIf="s.subMenu; else noTree">
              <div mat-subheader *ngIf="s.show" style="margin-left: 20px">
                {{ s.label }}
              </div>
              <ng-container *ngFor="let t of s.subMenu">
                <mat-list-item *ngIf="t.show" style="margin-left: 20px">
                  <button
                    mat-menu-item
                    [routerLink]="t.routerLink"
                    (click)="t.click()"
                  >
                    {{ t.label }}
                  </button>
                </mat-list-item>
              </ng-container>
            </ng-container>
            <ng-template #noTree>
              <mat-list-item *ngIf="s.show">
                <button
                  mat-menu-item
                  [routerLink]="s.routerLink"
                  (click)="s.click()"
                >
                  {{ s.label }}
                </button>
              </mat-list-item>
            </ng-template>
          </ng-container>
        </ng-container>
        <ng-template #single>
          <div mat-subheader *ngIf="m.show">
            {{ m.label }}
          </div>
          <mat-list-item *ngIf="m.show">
            <button
              mat-menu-item
              [routerLink]="m.routerLink"
              (click)="m.click()"
            >
              {{ m.label }}
            </button>
          </mat-list-item>
        </ng-template>
      </ng-container>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="content" fxFlexFill>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
