<div style="width: 100%; height: 100%" class="display-flex">
  <div class="flex-1">
    <mat-toolbar>{{ "Indicatore P.M.S." | translate }}</mat-toolbar>
    <div style="padding: 20px">
      <span innerHTML="{{ 'legenda.indicatori.pms' | translate }}"></span>
    </div>
  </div>
  <div class="flex-1" style="width: 100%; height: 100%">
    <form-component
      [autosave]="false"
      [options]="options"
      [model]="model"
      [fields]="fields"
      [actionsTemplate]="actionsTemplate"
      [form]="form"
      (onSubmit)="save($event)"
      (changeEvent)="change($event)"
    ></form-component>
  </div>
</div>
<ng-template #actionsTemplate>
  <button
    mat-raised-button
    color="success"
    type="submit"
    name="def"
    [disabled]="!form.valid"
  >
    {{ "Salva" | translate }}
  </button>
  <button mat-button mat-dialog-close color="warn">
    {{ "Chiudi" | translate }}
  </button>
</ng-template>
