
  <button mat-stroked-button color="accent" type="button" (click)="toggleOrientation()" style="position: absolute; top:12px; left:12px;"> 
    {{ 'Visualizza in {formato}'|translate:{formato:to.orientation||'horizontal'} }} 
    <mat-icon *ngIf="to.orientation=='horizontal'">more_vert</mat-icon>
    <mat-icon *ngIf="to.orientation=='vertical'">more_horiz</mat-icon>
  </button>
  <mat-stepper style="margin-top: -40px;" [orientation]="to.orientation||'horizontal'" [labelPosition]="to.labelPosition||'bottom'" [@.disabled]="true" (selectionChange)="onStepChange($event)">
    <ng-template matStepperIcon="number">
      <mat-icon>more_horiz</mat-icon>
    </ng-template>    
    
    
      <mat-step 
        [hasError]="!isValid(step)"
        *ngFor="let step of field.fieldGroup; let index = index; let last = last;">
        <ng-template matStepLabel>{{ step.templateOptions!.label }}</ng-template>
        <br />
        <formly-field [field]="step"></formly-field>

        <div>
          <button mat-icon-button matStepperPrevious *ngIf="index !== 0" type="button" #tooltip="matTooltip"
          matTooltip="{{ 'Sezione precedente'|translate }}"
          [matTooltipPosition]="'left'">
            <mat-icon *ngIf="(to.orientation||'horizontal')=='horizontal'">navigate_before</mat-icon>
            <mat-icon *ngIf="(to.orientation||'horizontal')=='vertical'">expand_less</mat-icon>
          </button>


          <button mat-icon-button matStepperNext *ngIf="!last" [disabled]="!isValid(step)" type="button" #tooltip="matTooltip"
          matTooltip="{{ 'Sezione successiva'|translate }}"
          [matTooltipPosition]="'left'">
          <mat-icon *ngIf="(to.orientation||'horizontal')=='horizontal'">chevron_right</mat-icon>
          <mat-icon *ngIf="(to.orientation||'horizontal')=='vertical'">expand_more</mat-icon>
          </button>
        </div>
      </mat-step>
  </mat-stepper>