
<input 
  *ngIf="!to.multiple; else multiple"
  matInput
  [matAutocomplete]="auto"
  [formControl]="formControl"
  [formlyAttributes]="field"
  [placeholder]="to.placeholder||''"
  [errorStateMatcher]="errorStateMatcher">

<mat-autocomplete #auto="matAutocomplete" [displayWith]="to.displayFn">
  <mat-option *ngFor="let value of filter | async" [value]="value" >
    <span *ngIf="to.multiple==false; else multipleOptions">
          {{ to.displayWith(value) }}
    </span>
    <ng-template #multipleOptions>
      <div (click)="optionClicked($event, value)">
        <mat-checkbox [checked]="check(value)" 
          (change)="toggleSelection(value)" 
          (click)="$event.stopPropagation()">
          {{ to.displayWith(value)}}
        </mat-checkbox>
      </div>
    </ng-template>
  </mat-option>

</mat-autocomplete>


<ng-template #multiple>
  <mat-chip-list #chipList>
    <ng-container *ngFor="let select of selectedData">
      <mat-chip class="cardinal-colors" (click)="removeChip(select)">
        {{ to.displayWith(select)}}
        <mat-icon class="mat-chip-remove">cancel</mat-icon>
      </mat-chip>
    </ng-container>
    <input 
      matInput
      [matAutocomplete]="auto"
      [formControl]="formControl"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [formlyAttributes]="field"
      [placeholder]="to.placeholder||''"
      [errorStateMatcher]="errorStateMatcher"
      [matChipInputAddOnBlur]="true">
  </mat-chip-list>
</ng-template>