<mat-toolbar>
    <span>{{ 'Diario di bordo'|translate }}</span>
    <span class="spacer"></span>
</mat-toolbar>

<mat-toolbar style="height: 100px;">
    <mat-form-field class="example-form-field" appearance="fill" style="width: 100%; margin-right: 20px; ">
        <mat-label>{{ 'Scrivi un messaggio'|translate }}</mat-label>
        <input matInput type="text" [(ngModel)]="messaggio">
        <button matSuffix mat-icon-button (click)="messaggio=''" *ngIf="messaggio!=''">
          <mat-icon>backspace</mat-icon>
        </button>
    </mat-form-field>
    <span class="spacer"></span>
    
    <input type="file" #file class="hidden" (change)="upload($event)">
    <button type="button" mat-stroked-button (click)="file.click()" [disabled]="saving|async">
        <mat-icon>attach_file</mat-icon>
    </button>
    <button type="button" mat-raised-button color="success" (click)="send()" [disabled]="saving|async">
        <mat-icon *ngIf="!(saving|async)">send</mat-icon>
        <mat-spinner *ngIf="saving|async" [diameter]="36"></mat-spinner>
    </button>
</mat-toolbar>
<div class="message-container">
    <ng-scrollbar>
        <mat-card class="message" *ngFor="let messaggio of messaggi|async" style="margin-right: 20px;">
            <mat-card-header>
                <ngx-avatar mat-card-avatar name="{{messaggio.utente.firstName}} {{ messaggio.utente.lastName }}"></ngx-avatar>
                <mat-card-title>{{ messaggio.utente.firstName }} {{ messaggio.utente.lastName }}</mat-card-title>
                <mat-card-subtitle>{{ messaggio.created_at|date:'full':'it'}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p style="text-align: right;" >
                    <ng-container *ngIf="messaggio.messaggio;else allegatoRef">{{messaggio.messaggio}}</ng-container>
                    <ng-template #allegatoRef>
                        <button mat-button (click)="download(messaggio.allegato)">
                            {{ messaggio.allegato.nome }}
                            <mat-icon>attach_file</mat-icon>
                        </button>                        
                    </ng-template>
                </p>
            </mat-card-content>
        </mat-card>
    </ng-scrollbar>
</div>