.warning{
   color: rgb(255, 153, 0);
}
.error{
    padding: 0 1em;
    font-size: 75%;
    margin-top: 0.6666666667em;
    top: calc(100% - 1.7916666667em);
}

.editor-box{
    padding: 0.75em;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    justify-content: center!important;
    align-items: center!important;
    color: rgba(0, 0, 0, 0.55);}

.focus{
    border: 2px solid #202020;
    color: #202020
}
.focus-error{
    border: 2px solid #F44336;
    color: #F44336;
}

.ace-eclipse{
    background-color: transparent!important;
}

.focus-text{
    color: #202020;
}