
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$md-primary: (
    50 : #e7e7e8,
    100 : #c2c4c6,
    200 : #9a9da0,
    300 : #717579,
    400 : #52585d,
    500 : #343a40,
    600 : #2f343a,
    700 : #272c32,
    800 : #21252a,
    900 : #15181c,
    A100 : #63b1ff,
    A200 : #3097ff,
    A400 : #007efc,
    A700 : #0071e2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-accent: (
    50 : #e0ecf8,
    100 : #b3ceec,
    200 : #80aee0,
    300 : #4d8ed4,
    400 : #2675ca,
    500 : #005dc1,
    600 : #0055bb,
    700 : #004bb3,
    800 : #0041ab,
    900 : #00309e,
    A100 : #c9d5ff,
    A200 : #96adff,
    A400 : #6386ff,
    A700 : #4972ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dashboard-primary: mat.define-palette($md-primary);
$dashboard-accent: mat.define-palette($md-accent);

// The warn palette is optional (defaults to red).
$dashboard-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$dashboard-theme: mat.define-light-theme((
  color: (
    primary: $dashboard-primary,
    accent: $dashboard-accent,
    warn: $dashboard-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($dashboard-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; min-height: 768px; min-width: 718px}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer { flex: 1 1 auto; }
.break { flex-basis: 100%; height: 0; }

$topbar: 120px;
$subbar: 64px;

.main-content{
  height: calc(100% - #{$subbar} - 40px);
  width: calc(100% - 40px);
  position: relative;
  padding: 20px;
}

.display-flex { 
  flex-wrap: wrap;
  display: flex; 
  align-items:flex-start;
  justify-content: space-between;
  
}

.flex-1 { flex: 1; }

.flex-2 { flex: 2; }

.flex-3 { flex: 3; }

.flex-4 { flex: 4; }

.flex-5 { flex: 5; }

.flex-6 { flex: 6; }


formly-group.display-flex {
  formly-field:not(:empty){
    padding-left: 10px;
  }
  
  formly-field:not(:empty):first-child {
    padding-left: 0;
  }
}

.mat-dialog-container{
  padding: 0!important;
}

::ng-deep .mat-toolbar{
  button{
    margin-right: 10px;
  }
  button:last-child{
    margin-right: 0px;
  }
}

.table-actions{
  button{
    margin-right: 10px;
  }
  button:last-child{
    margin-right: 0px;
  }
}


.mat-form-field-wrapper{
  margin: 0!important;
  padding-bottom: 0.5em!important;
}